<div class="flex min-h-screen min-w-screen bg-gray-900 text-white overflow-auto">
  <!-- Navbar Lateral -->
  <div class="w-64 bg-gray-800 p-6 space-y-4">
    <!-- Logo ou Nome do Projeto -->
    <div class="text-2xl cursor-pointer font-bold text-purple-400">
      raffolingo
    </div>

    <nav class="space-y-2">
      <a routerLink="/profile"  class="font-semibold cursor-pointer block py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-200">

        👨🏻‍💼 Profile

      </a>
      <a routerLink="/challenges" class="font-semibold cursor-pointer block py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-200">
        🔥 Challenges
      </a>
      <a routerLink="/shadowing" class="font-semibold cursor-pointer block py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-200">
        💬 Shadowing
      </a>
      <a routerLink="/rooms" class="font-semibold cursor-pointer block py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-200">
        🏠 Rooms
      </a>
      <a routerLink="/vocabulary" class="font-semibold cursor-pointer block py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-200">
        🈶 Vocabulary
      </a>
      
      <a routerLink="/rooms" class="font-semibold cursor-pointer block py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-200">
        📓 Notebook
      </a>
    </nav>
  </div>

  <div class="flex-1 p-6  bg-gray-900">
    <router-outlet></router-outlet> 
  </div>


<app-right-navbar></app-right-navbar>
</div>