<div class="max-w-4xl mx-auto p-6 bg-gray-800 rounded-md">
    <!-- Banner -->
    <div class="relative flex-col justify-end h-40 bg-blue-500 rounded-lg">
        <img src="https://t3.ftcdn.net/jpg/07/32/10/90/360_F_732109080_4lXwGofazqAiysUpcCnrbflsNOl9EMdW.jpg"
            alt="Banner" class="w-full h-full object-cover rounded-lg">
        <div class="absolute right-0 top-0 bg-gray-900/[0.6] w-8 text-xs p-2 rounded-lg mb-2">
            ✏️
        </div>
    </div>
    <!-- Foto de Perfil -->
    <div class="relative flex justify-center -mt-12">
        <img src="https://pics.craiyon.com/2023-05-25/67966a08004f4082aa7ea075b90d36d7.webp" alt="Foto de Perfil"
            class="w-24 h-24 rounded-full border-4 border-white shadow-lg">
    </div>

    <!-- Informações do Perfil -->
    <div class="text-center mt-4">
        <h2 class="text-xl font-bold">Nome do Usuário</h2> 
        <p class="text-gray-600">usuario123</p>
        <p class="mt-2 text-gray-400">"Desenvolvedor apaixonado por tecnologia e aprendizado contínuo."</p>
    </div>

    <!-- Estatísticas -->
    <div class="mt-4 flex flex-wrap justify-center gap-4">
        <div class="p-4 bg-gray-900 rounded-lg shadow-md text-center w-full sm:w-40">
            <h3 class="text-lg font-semibold">Horas Estudadas</h3>
            <p class="text-blue-600 text-xl font-bold">120h</p>
        </div>
        <div class="p-4 bg-gray-900 rounded-lg shadow-md text-center w-full sm:w-40">
            <h3 class="text-lg font-semibold">Missões resolvidas</h3>
            <p class="text-blue-600 text-xl font-bold">30 missões</p>
        </div>
        <div class="p-4 bg-gray-900 rounded-lg shadow-md text-center w-full sm:w-40">
            <h3 class="text-lg font-semibold">Sessões concluidas</h3>
            <p class="text-blue-600 text-xl font-bold">10 sessões</p>
        </div>
    </div>

    <!-- Conquistas -->
    <div class="mt-6">
        <div class="text-lg w-full flex justify-center gap-x-4 font-semibold text-center">
            Sobre mim
            <div class="bg-gray-900/[0.6] text-xs p-2 rounded-lg mb-2">
                +
            </div>
        </div>
        <div class="slider-container overflow-x-auto whitespace-nowrap p-4">
            <div class="inline-block p-6 bg-blue-800 shadow-lg rounded-lg w-64 text-center transform transition-transform duration-300 hover:scale-105 mr-4">
                <div class="w-full flex justify-end">
                    <div class="bg-gray-900/[0.6] text-xs p-2 rounded-lg mb-2">
                        ✏️
                    </div>
                </div>
                <div class="bg-gray-900 w-full rounded-t-lg p-4">
                    <p class="text-md font-bold text-white uppercase tracking-widest">Paixão</p>
                </div>
                <img src="https://i.pinimg.com/736x/98/c0/39/98c039306352e03230a74722c94c29a6.jpg" alt=""
                    class="w-full h-48 object-cover rounded-b-lg border-2 border-gray-700">
                <div class="mt-4 font-semibold text-xl text-gray-200">
                    Literatura
                </div>
            </div>
        
            <div class="inline-block p-6 bg-orange-800 shadow-lg rounded-lg w-64 text-center transform transition-transform duration-300 hover:scale-105 mr-4">
                <div class="w-full flex justify-end">
                    <div class="bg-gray-900/[0.6] text-xs p-2 rounded-lg mb-2">
                        ✏️
                    </div>
                </div>
                <div class="bg-gray-900 w-full rounded-t-lg p-4">
                    <p class="text-md font-bold text-white uppercase tracking-widest">Temperamento</p>
                </div>
                <img src="https://i.pinimg.com/736x/9a/c5/50/9ac550ac35792675714feaf4c4964ac8.jpg" alt=""
                    class="w-full h-48 object-cover rounded-b-lg border-2 border-gray-700">
                <div class="mt-4 font-semibold text-xl text-gray-200">
                    Fleumático
                </div>
            </div>
        
            <div class="inline-block p-6 bg-purple-800 shadow-lg rounded-lg w-64 text-center transform transition-transform duration-300 hover:scale-105 mr-4">
                <div class="w-full flex justify-end">
                    <div class="bg-gray-900/[0.6] text-xs p-2 rounded-lg mb-2">
                        ✏️
                    </div>
                </div>
                <div class="bg-gray-900 w-full rounded-t-lg p-4">
                    <p class="text-md font-bold text-white uppercase tracking-widest">Hobby</p>
                </div>
                <img src="https://i.pinimg.com/736x/88/b7/da/88b7dadeef81fecd91d9832af611045c.jpg" alt=""
                    class="w-full h-48 object-cover rounded-b-lg border-2 border-gray-700">
                <div class="mt-4 font-semibold text-xl text-gray-200">
                   Desenhar
                </div>
            </div>

            <div class="inline-block p-6 bg-green-800 shadow-lg rounded-lg w-64 text-center transform transition-transform duration-300 hover:scale-105 mr-4">
                <div class="w-full flex justify-end">
                    <div class="bg-gray-900/[0.6] text-xs p-2 rounded-lg mb-2">
                        ✏️
                    </div>
                </div>  
                <div class="bg-gray-900 w-full rounded-t-lg p-4">
                    <p class="text-md font-bold text-white uppercase tracking-widest">Tipo sanguíneo</p>
                </div>
                <img src="https://i.pinimg.com/736x/88/ef/f4/88eff4e0a02445841cc89c7694822396.jpg" alt=""
                    class="w-full h-48 object-cover rounded-b-lg border-2 border-gray-700">
                <div class="mt-4 font-semibold text-xl text-gray-200">
                    O+
                </div>
            </div>
        </div>
    </div>
</div>